In [2]:
import pandas as pd
import requests
import pymysql
import json
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
from selenium import webdriver

In [3]:
host_name = "127.0.0.1"
username = "root"
password = ""
database_name = "steam_test"

In [4]:
db = pymysql.connect(
    host = host_name,
    port=3306,
    user=username,
    passwd=password,
    db=database_name,
    charset='utf8'
)

## ID, Name 추출

https://steamdb.info/instantsearch/?q=&hPP=20&idx=steamdb&p=0&dFR%5BappType%5D%5B0%5D=Game
https://steamdb.info/instantsearch/?q=&hPP=20&idx=steamdb&p=1&dFR%5BappType%5D%5B0%5D=Game

중복 처리 test

In [18]:
test_name = ""
insert_name = ['1','1','2','2','3','3']
for a in insert_name:
#     print("out of if test_name:"+test_name)
#     print("out of if         a:"+a)
    if a != test_name:
        test_name = a
        print("in of if a :"+a)
    else:
        pass
#         print(a)
# print(test_name)

in of if a :1
in of if a :2
in of if a :3

In [1]:
# error_count = 0
def crolling(count , target):
    id_name = {}    
    samename = ""
    while count <= target:
        global error_count
        error_count = count
        res = requests.get('http://store.steampowered.com/app/{}'.format(count))
        res_db = requests.get('https://steamdb.info/app/{}'.format(count))
        soup = BeautifulSoup(res.content, 'html.parser')
        soup_db = BeautifulSoup(res_db.content, 'html.parser')
#         title = soup.find('title')
        unknownapp = soup.find('h1', class_='header-title')
        name = soup.find('h1', class_='css-truncate')
        print(name+" : "+samename)
        
        if name == samename:
            count += 1
        elif name != 'Welcome to Steam' or unknownapp != 'Unknown / Deleted App':
            samename = name
            id_name[count] = name
            count += 1
        elif name == 'Site Error':
            count += 1
        else:
            count += 1
#     print(id_name)

    try:
        cursor = db.cursor()
#         print(id_name.values)
        for k, v in id_name.items():
#             appid_name_sql = ("""
#                 INSERT INTO steam_test.steamtable(
#                     appid,
#                     name
#                 ) VALUES (
#                     {},
#                     "{}"
#                 ) 
#                 ON DUPLICATE KEY UPDATE appid={}, name="{}";
#             """.format(k,v,k,v))
#     #         print(appid_name_sql)
#             cursor.execute(appid_name_sql)
#             db.commit()
            print("key : "+k, "value : "+v)
            print()
    finally:
        pass
                
    return count, target

# 예외 발생시 한숫자 넘기고 재시작
def catch_ex(count, target):
    try:
        crolling(count, target)
    except:
        print("error_count : {}" .format(error_count))
        print("예외 발생 count: {}, target: {}".format(count, target))
        count = error_count + 1   
        print()
        print("바뀐 count: {}".format(count))
        catch_ex(count, target)
    finally:
        print("목표 크롤링 완료 count: {}, target: {}".format(count, target))
        print("end crolling test")
        
catch_ex(870, 970)

SyntaxError: invalid syntax (<ipython-input-1-ee095ee4e9da>, line 46)

## CREATE, INSERT [MySQL]

In [5]:
count = 570
chromedriver = '/home/nincastle/chromedriver/chromedriver'
tags_genre_query = []

def name_replace(name):
    name = name.replace("&","and").replace(".","dot")\
    .replace("Mod","Mod_").replace("'","").replace("-","_").replace("Linear","Linear_")\
    .replace("Action","Action_").replace("Foreign","Foreign_").replace("All","All_")
    return name

def driver_chrome(url, xpath_):
    driver_tags = webdriver.Chrome(chromedriver)
    driver_tags.get(url)
    print(type(xpath_))
    tags = driver_tags.find_element_by_xpath(xpath_)
    t_g = tags.find_elements_by_tag_name('a')
    driver_tags.quit
    return t_g 

# 테그 변수 이름 크롤링
cro_tag = driver_chrome("https://steamdb.info/tags/","//div[@class='row list']")
for t in cro_tag:
    t = t.text.replace(" ","_")   
    tags_genre_query.append("tag_"+t+' INT(1)')


# 장르 변수 이름 크롤링
cro_gen = driver_chrome("https://steamdb.info/genres/","//div[@class='row']")
for g in cro_gen:
    g = g.text.replace(" ","_")
    tags_genre_query.append("genre_"+g+' INT(1)')

# driver_tags.quit
tag_genre_join = (", \n".join(tags_genre_query))

# SQL문 필터링
tag_genre_join = name_replace(tag_genre_join)
try: 
    cursor = db.cursor()
    SQL_QUERY = """
    DROP DATABASE IF EXISTS steam_test;
    CREATE DATABASE steam_test DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

    USE steam_test;
    DROP TABLE IF EXISTS steam_test.steamtable;
    CREATE TABLE steam_test.steamtable (
        appid int(7),
        name varchar(100),
        owners int(10),
        owners_variance int(7),
        negative int(7),
        positive int(6),
        score_rank int(3),
        ccu int(6),
        players_2weeks int(8),
        players_forever_variance int(7),
        players_2weeks_variance int(7),
        userscore int(2),
        median_forever int(3),
        players_forever int(7),
        price int(7),
        average_2weeks int(5),
        developer varchar(50),
        median_2weeks int(4),
        publisher varchar(50),
        average_forever int(6),
        """+tag_genre_join+""",
        PRIMARY KEY(appid)
        ) DEFAULT CHARSET=utf8 COLLATE=utf8_bin
    """
    create_sql=("".join(SQL_QUERY))

    cursor.execute(create_sql)
    db.commit()
finally:
    print("table create ok!")
    pass

while count < 571:
    
    column_str=[]
    row_str=[]
    
    steamspy_url =('https://steamspy.com/api.php?request=appdetails&appid={}'.format(count))
    appdetails_response = requests.get(steamspy_url)
    data = appdetails_response.json()

    for data_k, data_v in data.items():
        data_k = name_replace(data_k).replace(" ","_")  

        if data_k == 'tags':
            for tag_k ,tag_v in data['tags'].items():
                tag_k = name_replace(tag_k).replace(" ","_")  
                column_str.append(("tag_{}").format(tag_k))
                row_str.append(1)
        else:
            column_str.append(data_k)
            row_str.append(data_v)

    print()
    try:
        cursor = db.cursor()
        sql = ("INSERT INTO steam_test.steamtable ("+(",".join(column_str)+") VALUES {}"\
                                                      .format(tuple(row_str))))
        print(sql)
        cursor.execute(sql)
        db.commit()
    finally:
        print("insert ok!")
        pass
                
    count += 10

<class 'str'>
<class 'str'>
table create ok!

INSERT INTO steam_test.steamtable (average_2weeks,players_forever,developer,appid,price,name,ccu,owners_variance,owners,tag_Simulation,tag_Free_to_Play,tag_Difficult,tag_Strategy,tag_PvP,tag_Replay_Value,tag_Tower_Defense,tag_RTS,tag_Multiplayer,tag_Action_,tag_Fantasy,tag_Co_op,tag_MOBA,tag_Action__RPG,tag_Character_Customization,tag_Competitive,tag_Team_Based,tag_e_sports,tag_RPG,tag_Online_Co_Op,userscore,players_2weeks,players_forever_variance,positive,publisher,score_rank,median_2weeks,median_forever,players_2weeks_variance,negative,average_forever) VALUES (1206, 118760287, 'Valve', 570, '0', 'Dota 2', 658028, 288536, 118760287, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 87, 9562939, 288536, 752428, 'Valve', 64, 656, 259, 93059, 103678, 11897)
insert ok!

In [6]:
get_sql= """
SELECT * 
FROM information_schema.columns 
WHERE 
    table_schema = 'steam_test' 
    AND 
    table_name = 'steamtable';
"""
column_name = pd.read_sql(get_sql, db)
print(column_name)

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,ORDINAL_POSITION,COLUMN_DEFAULT,IS_NULLABLE,DATA_TYPE,CHARACTER_MAXIMUM_LENGTH,CHARACTER_OCTET_LENGTH,...,NUMERIC_SCALE,DATETIME_PRECISION,CHARACTER_SET_NAME,COLLATION_NAME,COLUMN_TYPE,COLUMN_KEY,EXTRA,PRIVILEGES,COLUMN_COMMENT,GENERATION_EXPRESSION
0,def,steam_test,steamtable,appid,1,None,NO,int,NaN,NaN,...,0.0,None,None,None,int(7),PRI,,"select,insert,update,references",,
1,def,steam_test,steamtable,name,2,None,YES,varchar,100.0,300.0,...,NaN,None,utf8,utf8_bin,varchar(100),,,"select,insert,update,references",,
2,def,steam_test,steamtable,owners,3,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(10),,,"select,insert,update,references",,
3,def,steam_test,steamtable,owners_variance,4,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(7),,,"select,insert,update,references",,
4,def,steam_test,steamtable,negative,5,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(7),,,"select,insert,update,references",,
5,def,steam_test,steamtable,positive,6,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(6),,,"select,insert,update,references",,
6,def,steam_test,steamtable,score_rank,7,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(3),,,"select,insert,update,references",,
7,def,steam_test,steamtable,ccu,8,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(6),,,"select,insert,update,references",,
8,def,steam_test,steamtable,players_2weeks,9,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(8),,,"select,insert,update,references",,
9,def,steam_test,steamtable,players_forever_variance,10,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(7),,,"select,insert,update,references",,
10,def,steam_test,steamtable,players_2weeks_variance,11,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(7),,,"select,insert,update,references",,
11,def,steam_test,steamtable,userscore,12,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(2),,,"select,insert,update,references",,
12,def,steam_test,steamtable,median_forever,13,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(3),,,"select,insert,update,references",,
13,def,steam_test,steamtable,players_forever,14,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(7),,,"select,insert,update,references",,
14,def,steam_test,steamtable,price,15,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(7),,,"select,insert,update,references",,
15,def,steam_test,steamtable,average_2weeks,16,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(5),,,"select,insert,update,references",,
16,def,steam_test,steamtable,developer,17,None,YES,varchar,50.0,150.0,...,NaN,None,utf8,utf8_bin,varchar(50),,,"select,insert,update,references",,
17,def,steam_test,steamtable,median_2weeks,18,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(4),,,"select,insert,update,references",,
18,def,steam_test,steamtable,publisher,19,None,YES,varchar,50.0,150.0,...,NaN,None,utf8,utf8_bin,varchar(50),,,"select,insert,update,references",,
19,def,steam_test,steamtable,average_forever,20,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(6),,,"select,insert,update,references",,
20,def,steam_test,steamtable,tag_Indie,21,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
21,def,steam_test,steamtable,tag_Action_,22,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
22,def,steam_test,steamtable,tag_Adventure,23,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
23,def,steam_test,steamtable,tag_Casual,24,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
24,def,steam_test,steamtable,tag_Simulation,25,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
25,def,steam_test,steamtable,tag_Strategy,26,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
26,def,steam_test,steamtable,tag_RPG,27,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
27,def,steam_test,steamtable,tag_Singleplayer,28,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
28,def,steam_test,steamtable,tag_Early_Access,29,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
29,def,steam_test,steamtable,tag_Free_to_Play,30,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,def,steam_test,steamtable,tag_Bowling,355,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
355,def,steam_test,steamtable,tag_Cycling,356,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
356,def,steam_test,steamtable,tag_Voice_Control,357,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
357,def,steam_test,steamtable,tag_Faith,358,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
358,def,steam_test,steamtable,tag_Bikes,359,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
359,def,steam_test,steamtable,genre_All_,360,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
360,def,steam_test,steamtable,genre_Videos,361,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
361,def,steam_test,steamtable,genre_Left_Early_Access,362,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
362,def,steam_test,steamtable,genre_Action_,363,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
363,def,steam_test,steamtable,genre_Free_to_Play,364,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
364,def,steam_test,steamtable,genre_Strategy,365,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
365,def,steam_test,steamtable,genre_Adventure,366,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
366,def,steam_test,steamtable,genre_Indie,367,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
367,def,steam_test,steamtable,genre_Simulation,368,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
368,def,steam_test,steamtable,genre_RPG,369,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
369,def,steam_test,steamtable,genre_Animation_and_Mod_eling,370,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
370,def,steam_test,steamtable,genre_Video_Production,371,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
371,def,steam_test,steamtable,genre_Casual,372,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
372,def,steam_test,steamtable,genre_Racing,373,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
373,def,steam_test,steamtable,genre_Massively_Multiplayer,374,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
374,def,steam_test,steamtable,genre_Sports,375,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
375,def,steam_test,steamtable,genre_Early_Access,376,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
376,def,steam_test,steamtable,genre_Utilities,377,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
377,def,steam_test,steamtable,genre_Audio_Production,378,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
378,def,steam_test,steamtable,genre_Design_and_Illustration,379,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
379,def,steam_test,steamtable,genre_Web_Publishing,380,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
380,def,steam_test,steamtable,genre_Photo_Editing,381,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
381,def,steam_test,steamtable,genre_Education,382,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
382,def,steam_test,steamtable,genre_Software_Training,383,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,
383,def,steam_test,steamtable,genre_Accounting,384,None,YES,int,NaN,NaN,...,0.0,None,None,None,int(1),,,"select,insert,update,references",,

In [9]:
get_sql_1 ="""
SELECT * FROM steamtable LIMIT 2
"""
sql_1 = pd.read_sql(get_sql_1, db)
sql_1

,appid,name,owners,owners_variance,negative,positive,score_rank,ccu,players_2weeks,players_forever_variance,...,genre_Sports,genre_Early_Access,genre_Utilities,genre_Audio_Production,genre_Design_and_Illustration,genre_Web_Publishing,genre_Photo_Editing,genre_Education,genre_Software_Training,genre_Accounting
0,10,Counter-Strike,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,20,Team Fortress Classic,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [16]:
cursor= db.cursor()
cursor.execute(get_sql_1)
steam_rows = cursor.fetchall()

for i in steam_rows:
    print(i)

(10, 'Counter-Strike', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
(20, 'Team Fortress Classic', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)

In [22]:
get_data = """
select appid, name from steamtable LIMIT 2
"""
cursor.execute(get_data)
row_names = cursor.fetchall()
for a in row_names:
    print(a)
    b = list(a)
    print(b)

(10, 'Counter-Strike')
[10, 'Counter-Strike']
(20, 'Team Fortress Classic')
[20, 'Team Fortress Classic']